<!--Nama, NPM, Angkatan, Hobi, Deskripsi tentang saya, Tempat Kuliah, dan Foto
-->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css\index.css' %}">
    <title>{{ name }}</title>
</head>
<body background="static/asset/pewds.jpg">
    <div id = "putih" class="box">
        <h1>Halo namaku adalah {{ name }}</h1>
        <img src="{% static 'asset/IMG_20190724_114719.jpg' %}" width="310" height="235">
        <article>NPM : {{ npm }}</article>
        <article>Umurku {{ age }} tahun</article>
        <article>Kuliah : Fasilkom UI </article>
        <article>Hobi : Nonton dan main gem</article>
        <article> Deskripsi tentang saya: Saya adalah mahasiswa muda yang berambisi menjadi orang yang baik dan sukses di mata Allah</article>
    </div>
</body>
</html>
